// main: /xampp/htdocs/multiszablon/scss/style.scss


$color-mine-shaft: #2d2d2d;
$color-sliver-chalice: #9d9d9d;
$color-white: #fff;
$color-cerulean: #0094e0;
$color-turbo: #fef200;
$color-tundora: #4e4e4e;
$color-dove-gray: #6d6d6d;
$color-black: #000;
$color-alto: #cecece;
$color-olive: #7F7900;
$color-silver: #c3c3c3;
