// main: /xampp/htdocs/multiszablon/scss/style.scss

/*
* @nazwa Black Yellow
* @sekcja Themes
* @opis
*  Żółta wersja strony
*/
.t-yellow {

        color: $color-black;
            background: $color-turbo;

    a {
        color: $color-black;

        &:hover,
        &.is-active {
            color: $color-sliver-chalice;
        }
    }


    p {
        color: $color-black;
    }

    .m-top-title {
        background-color: $color-turbo;
    }

    .l-header {
        &__top {
            background: $color-turbo;
        }

        &__bottom {
            background: $color-turbo;
        }
    }

    .m-cart,
    .m-lnaguages,
    .m-search,
    .m-versions {

        &__trigger {
            color: $color-black;

            &:hover,
            &.is-active {
                color: $color-sliver-chalice;
            }

        }

    }

}
