// main: /xampp/htdocs/multiszablon/scss/style.scss

/*
* @name Container
* @section Layouts
* @description
*  Site conteners
*/

.l-container {
    $root: &;

  	@include clearfix;
  	margin: 0 auto;
  	position: relative;

}
