// main: /xampp/htdocs/multiszablon/scss/style.scss
/*
* @nazwa Nagłówek
* @sekcja Layouty
* @opis
*  Główny nagłówek strony. [Layout - ma wpływ na moduły w nim zawarte, zmienia kolory, czicionki etc.]
*/
.l-header {
    $root: &;
    position: relative;
    z-index: 1000;

    &__col {

        &:nth-child(1) {
            text-align: left;

            > [class*="m-"] {

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

            }

        }

        &:nth-child(2) {
            text-align: right;

            > [class*="m-"] {

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

            }

        }

        > [class*="m-"] {
            margin: 0 1.5rem;
        }

    }

    &__top {
        @include rem(padding, 1.2rem 0);
        background: $color-mine-shaft;
        text-align: right;

        .m-search {

            &__submit {
                @include rem(font-size, 1rem);
                position: relative;
                top: 6px;
                padding: 0;
                cursor: pointer;
                background: transparent;
                color: $color-sliver-chalice;
            }

            &__input {
                @include rem(font-size, 1.2rem);
                border: 0;
                border-radius: 0;
                border-bottom: 1px solid $color-sliver-chalice;
                color: $color-sliver-chalice;
                background: transparent;
                padding: 0;
                vertical-align: middle;
                outline: none;

                @include placeholder {
                    color: $color-sliver-chalice;
                }

            }

            &__hidden .m-search__submit {

            }

            &__hidden .m-search__input {
                background: $color-white;
                color: $color-sliver-chalice;

            }

        }

        .m-tools {

            &__item {
                @include rem(margin-right, 2rem);

                &:last-of-type {
                    margin-right: 0;
                }

            }

        }

        .m-flag {

            &__icon {
                border: 0;
            }

        }

    }

    &__bottom &__col {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }

    &__bottom {
        text-align: right;
        @include rem(padding, 1.5rem 0);
        background: #fff;

        .row {
            font-size: 0;
        }

        &.is_stuck {
            position: fixed !important;
            bottom: auto !important;
            top: 0 !important;
            width: 100%;
            z-index: 1000;
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
        }

        .m-logo {
            @include inline-block();
            vertical-align: middle;
        }

        .m-menu {

            &__link:hover {
                color: $color-mine-shaft;
            }

        }

        .m-tools {

            .m-search {
                margin: 0;

                    &__input {
                        @include rem(min-width, 23.6rem);
                    }
            }

            .m-search__trigger,
            .m-cart__trigger,
            .m-languages__trigger,
            .m-versions__trigger {
                color: $color-mine-shaft;

                &:hover,
                &.is-active {
                    color: $color-cerulean;
                }
            }

        }

        .m-languages {

            &__hidden {
                top: 56px;
                right: 3px;
                background: #fff;
                padding: 21px 18px 20px;
                border: 1px solid #ccc;
            }

            &__trigger {

                &.is-active {
                    color: $color-cerulean;
                }

            }

                    .m-flag {
                        &__name {

                                color: $color-mine-shaft;

                                &:hover,
                                &.is-active {
                                    color: $color-cerulean;

                                }
                        }
                    }
        }

        .m-versions {

            &__trigger {

                &.is-active {
                    color: $color-cerulean;
                }

            }

        }

        .m-cart {

            &__hidden {
                width: 323px;
                top: 58px;
                right: 3px;
                background: #fff;
                padding: 21px 18px 20px;
                border: 1px solid #dcdcdc;
            }

            &__trigger {

                &.is-active {
                    color: $color-cerulean;
                }

            }

            &__price__name,
            &__image figcaption,
            &__data__item {
                color: $color-mine-shaft;
            }

        }

        .m-search {
            @include rem(margin, 2.8rem .2rem 0 3.4rem);

            .m-search__hidden {
                top: 56px;
                width: 323px;
                right: 3px;
                background: #fff;
                padding: 21px 18px 20px;
                border: 1px solid #ccc;
            }

            &__trigger {

                &.is-active {
                    color: $color-cerulean;
                }

            }

        }

        .m-social-small {
            @include rem(margin-left, 2.3rem);
        }

    }

    &--sticky-smaller.is_stuck {

        .m-logo {

            &__image {
                @include transition(all .25s linear);
                max-width: 60%;
            }

        }

    }

    &--hide-slide.is_stuck {
        animation-name: slideDown;
    	-webkit-animation-name: slideDown;

    	animation-duration: 1s;
    	-webkit-animation-duration: 1s;

    	animation-timing-function: ease;
    	-webkit-animation-timing-function: ease;
    }

}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}

	100% {
		-webkit-transform: translateY(0%);
	}
}



@keyframes slideUp {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-100%);
	}
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(0);
	}

	100% {
		-webkit-transform: translateY(-100%);
	}
}
