// main: /xampp/htdocs/multiszablon/scss/style.scss

/*
* @name Links
* @section Componenets
* @description
*  All Links
*/

.link {
    $root: &;

    &-absolute {
        position: absolute;
        top:0;
        left:0;
        z-index: 10;
        width: 100%;
        height: 100%;
        font-size: 0;
    }

}
