// main: /xampp/htdocs/multiszablon/scss/style.scss

/*
* @name Headings
* @section Components
* @description
*  Site headings
*/

.m-title {

    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }

    &--left {
        text-align: left;
    }

}
