// main: /xampp/htdocs/multiszablon/scss/style.scss
/*
* @nazwa 404
* @sekcja Moduły
* @opis
*  Strona błędu
*/
.m-404 {
    text-align: center;

    &__title {
        @include rem(font-size, 4.4rem);
        @include rem(margin-top, 4rem);
        color: $color-silver;

        span {
            @include rem(font-size, 11rem);
            line-height: 1;
            position: relative;
            top: -10px;
        }
    }

    &__search {
        @include rem(max-width, 56.9rem);
        @include rem(margin, 4.9rem auto 0);
    }

    &__buttons {
        @include rem(margin-top, 5.6rem);

        .m-button:first-child {
            @include rem(margin-right, 3.5rem);
            float: left;
        }

        .m-button:last-child {
            @include rem(margin-left, 3.5rem);
            float: right;
        }
    }

    .m-title--font-thin {
        @include rem(margin-top, .5rem);
    }

    .m-search {
        width: 100%;
    }

    .m-text {
        @include rem(margin, 1.8rem auto);

        p {
            @include rem(font-size, 1.85rem);
        }

    }

}
