// main: /xampp/htdocs/multiszablon2/scss/style.scss
/*
* @nazwa Zamowienie
* @sekcja Widgety
* @opis
*  Modul wszystkiego co mamy w koszyku, kasie potwierdzeniu zamowienia.
*/
.m-checkout {

    &__steps {
        text-align: center;

        &__item {
            @include inline-block();
            @include rem(font-size, 2.2rem);
            @include rem(margin-right, 7.1rem);
            position: relative;
            text-transform: uppercase;

            &::after {
                content: '\f054';
                color: #6d6d6d;
                position: absolute;
                width: 5px;
                height: 10px;
                padding-left: 10px;
                font-size: 13px;
                font-family: "FontAwesome";
                margin-top: 3px;
                -webkit-transition: color 0.2s linear;
                -moz-transition: color 0.2s linear;
                -ms-transition: color 0.2s linear;
                -o-transition: color 0.2s linear;
                transition: color 0.2s linear;
                right: -36px;
                top: 4px;
                -webkit-text-stroke: 1px #fff;
                text-stroke: 1px #fff;
            }

            &.is-active a,
            &.is-done a {
                @include encodesans(700, 'wide');
                color: $color-cerulean;
            }

            &.is-done {
                &::after {
                    color: $color-cerulean;
                }
            }

            &:last-child{
                margin-right: 0;

                &::after {
                    display: none;
                }

            }

        }

    }

    &__stage {
        margin-top: 67px;
        font-size: 0;
    }

    &__column {

        &--wide {
            width: 58.5%;
            display: inline-block;
            vertical-align: top;
            @include rem(font-size, 1.4rem);
        }

        &--narrow {
            width: 41.5%;
            display: inline-block;
            padding-left: 25px;
            vertical-align: top;
            @include rem(font-size, 1.4rem);
        }

    }

    &__products {
        display: table;
        width: 100%;
    }

    &__header {
        @include encodesans(700, 'wide');
        background: $color-mine-shaft;
        color: $color-white;
        padding: 15px 24px 15px;
    }

    &__products &__header {
            display: table-header-group;
            padding: 0;
        }

    &__products &__header &__list {
        display: table-row;

        &__element {
            display: table-cell;
            padding: 15px 24px;
            letter-spacing: .6px;

            &:first-child {
                width: 35.5rem;
            }

            &:nth-child(2) {
                width: 9.6rem;
            }

            &:nth-child(3) {
                width: 9.5rem;
            }

            &:last-child {
                width: 1px;
                padding: 14px;
            }
        }
    }

    &__products &__table-content {
        display: table-row-group;
    }

    &__products &__table-content &__element {
        display: table-row;
    }

    &__products &__figure,
    &__products &__price,
    &__products &__amount,
    &__products &__summary,
    &__products &__delete {
        display: table-cell;
        vertical-align: middle;
        border-bottom: 1px solid #ccc;
    }

    &__products &__figure {
        padding: 25px;
        border-left: 1px solid #ccc;
        img {
            float: left;
        }
    }

    &__products &__figure &__figcaption {
        display: block;
        padding-left: 117px;
        font-family: "EncodeSansWide-bold";
        line-height: 1.5;
    }

    &__products &__price {
        text-align: center;
        font-family: "EncodeSansWide-bold";
    }

    &__products &__delete {
        border-right: 1px solid #ccc;
    }

    &__products &__summary {
        text-align: center;
        font-family: "EncodeSansWide-bold";
        padding-right: 6px;
    }

    &__summary {

        &__content {
            border: 1px solid #ccc;
            border-top: 0;
            padding: 25px;
            margin-bottom: 25px;
        }

        &__block {
            @include clearfix();
            font-family: "EncodeSansWide-bold";
            border-bottom: 1px solid #ccc;
            padding-bottom: 25px;
            margin-bottom: 24px;

            p {
            font-family: "EncodeSansWide-bold";
                float: left;
            }

            strong {
                float: right;
                line-height: 1.6;
            }

            &:last-of-type {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: 0;
            }

            .m-input-list {
                clear: both;
                margin-top: 37px;
            }

            &.m-checkout__price {
                strong {
                    @include rem(font-size, 2rem);
                    @include encodesans(700, 'wide');
                    color: $color-cerulean;
                    line-height: 1.2;
                }
            }

        }
    }

    &__summary &__header {
        background: #0093e0;
        color: #fff;
        font-family: "EncodeSansWide-bold";
        letter-spacing: .6px;
    }

    &__summary &__button {
        text-align: right;
    }

    // products in summary

    &__summary &__products {

    }

    &__summary &__products &__header {
        background: none;
        color: $color-mine-shaft;
    }

    &__summary &__products &__figure img {
        display: none;
    }

    &__summary &__products &__figure &__figcaption {
        padding-left: 0;
    }

    &__summary &__products &__header  &__list {
        &__element  {
            padding: 0;

            &:nth-child(4) {
                text-align: right;
            }

            &:nth-child(2),
            &:last-child {
                display: none;
            }

        }

    }

    &__summary &__products &__figure {
        padding: 0;
        border-left: 0;
    }

    &__summary &__products &__price,
    &__summary &__products &__delete {
        display: none;
    }

    &__summary &__product &__summary {
        padding-right: 0;
    }

    &__rabat {
        margin-top: 30px;

        .m-input {

            &--block-label {
                display: inline-block;
                width: 40.5%;
                margin-right: 6px;
            }

        }

        .m-button {
            &:last-of-type {
                margin-left: 11px;
            }
        }

    }

    &__data {

        .m-input {
            @include rem(margin-bottom, 1.5rem);
        }

    }

    &__data &__content {
        border: 1px solid #ccc;
        border-top: 0;
        padding: 30px 28px;
    }
}
