// main: /xampp/htdocs/multiszablon/scss/style.scss
/*
* @nazwa Inputy
* @sekcja Elementy
* @opis
*  Stylowanie inputow bez klas
*/

.m-input-list {
    li {
        position: relative;
    }
    &__count {
        position: absolute;
        right: 5px;
        top: 5px;
        color: #ccc;
    }

}
