// main: /xampp/htdocs/multiszablon/scss/style.scss

/*
* @nazwa Font sizer
* @sekcja Moduły
* @opis
*  Moduł zwiększania rozmiaru czcionki z m-versions
*/
.m-font-sizer {
    @include inline-block();
    @include rem(font-size, 1.7rem);
    vertical-align: middle;
    width: 48.5%;

    &__text {
        @include inline-block();
        @include encodesans(700, 'wide');
        @include rem(font-size, 1.4rem);
        @include rem(padding, 0 .6rem);
        vertical-align: middle;
    }
}
