// main: /xampp/htdocs/multiszablon/scss/style.scss

/*
* @nazwa Moduł wyszukiwarki
* @sekcja Moduły
* @opis
*  Wygląd szybkiego wyszukiwania, wygląd dla modala, wygląd prostej wyszukiwarki
*/

.m-search {
    @include inline-block();

    position: relative;

    &__form {
        @include inline-block();

        position: relative;
        width: 100%;
    }

    &__trigger {
        @include rem(font-size, 1.7rem);

        color: $color-sliver-chalice;

        &.is-active,
        &:hover {
             color: $color-white;
        }
    }

    &__input {
        @include rem(font-size, 1.5rem);
        @include rem(padding, 1rem 1.4rem 1.1rem);
        @include rem(margin-right, .9rem);
        @include encodesans(400, 'narrow');
        @include inline-block();

        border: 1px solid $color-sliver-chalice;
        border-radius: 4px;
        letter-spacing: .5px;

        width: -webkit-calc(100% - 5.3rem);
        width: -moz-calc(100% - 5.3rem);
        width: calc(100% - 5.3rem);

        @include placeholder {
            color: #000;
        }

    }

    &__submit {
        @include transition(background .2s linear, box-shadow .2s linear, color .2s linear);
        @include rem(padding, 1.2rem 1.3rem 1.1rem);
        @include rem(font-size, 1.5rem);

        background-color: #0294df;
        border: 0;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background: transparent;
            box-shadow: 0 0 0 1px $color-sliver-chalice inset;
            color: #2b2b2b;
        }

        .fa {
            position: relative;
            top: -2px;
        }
    }

    &__hidden {
        @include transition(all .3s cubic-bezier(0.19, 1, 0.22, 1));
        @include rem(width, 32.3rem);
        @include rem(padding, 3.1rem 1.8rem 2rem);

        text-align: left;
        position: absolute;
        top: 100%;
        right: 3px;
        background: $color-mine-shaft;
        z-index: 10;
        visibility: hidden;
        opacity: 0;
        transform: scale(0);

        &.is-active {
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }

    }

    &__hidden &__input {
        @include encodesans(400, 'narrow');
        @include rem(font-size, 1.5rem);
        @include rem(padding, 1rem 1.4rem 1.1rem);
        @include rem(margin, 0 .9rem 0 0);

        border: 1px solid $color-sliver-chalice;
        border-radius: 4px;
        letter-spacing: .5px;

        @include placeholder {
            color: #000;
        }

    }

    &__hidden &__submit {
        @include transition(background .2s linear, box-shadow .2s linear, color .2s linear);
        @include rem(font-size, 1.5rem);
        @include rem(padding, 1.2rem 1.3rem 1.1rem);

        background-color: #0294df;
        border: 0;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background: transparent;
            box-shadow: 0 0 0 1px $color-sliver-chalice inset;
            color: #2b2b2b;
        }

        .fa {
            position: relative;
            top: -2px;
        }

    }

}
