// main: /xampp/htdocs/multiszablon/scss/style.scss
/*
* @nazwa Signup
* @sekcja Moduły
* @opis
*  Strona rejestracji/logowania
*/
.m-signup {
    @include rem(margin-top, 7.7rem);
    @include rem(padding, 2.5rem 6.4rem);

    border: 1px solid #ccc;

    &__header {
        position: relative;
    }

    &__form {
        @include inline-block();
        @include rem(margin-top, .7rem);
        width: 100%;
    }

    &__footer {
        text-align: right;
    }

    &__link {
        @include rem(margin, 0 2.5rem);
    }

    &__required {
        @include rem(font-size, 1.4rem);

        position: absolute;
        bottom: 0;
        right: 1px;
    }

    &--login {

    }

    &--register {

    }

    .m-input {
        @include rem(margin-bottom, 2rem);

        &--checkbox {
            @include inline-block();
            margin-bottom: 0;
        }

    }

}
