// main: /xampp/htdocs/multiszablon/scss/style.scss

/*
* @nazwa Tabs
* @sekcja Moduły
* @opis
*  Moduł zakładek --horizontal oraz --vertical
*/

.m-tabs {
    @include clearfix();

    &__list {
        margin: 0px;
        padding: 0px;
        list-style: none;
        font-size: 0;
    }

    &__element {
        background: none;
        color: #222;
        display: inline-block;
        padding: 14px 15px;
        cursor: pointer;
        text-align: center;
        min-width: 172px;
        border-right: 1px solid #dcdcdc;
        border-top: 1px solid #dcdcdc;
        font-size: 1.5rem;
        transition: all .25s linear;

        &:hover {
            background: $color-mine-shaft;
            color: $color-white;
            border-color: $color-mine-shaft;
        }

        &:first-child {
            border-left: 1px solid #dcdcdc;
        }

        &.is-active {
            background: $color-cerulean;
            color: $color-white;
            border-color: $color-cerulean;
        }

    }

    &__content {
        display: none;
        padding: 37px 43px;
        border: 1px solid #dcdcdc;
        line-height: 1.9;

        &.is-active {
            display: inherit;
        }

    }


    &--vertical {
        margin-left: 200px;
    }

    &--vertical &__list {
        margin: 0px;
        padding: 0;
        list-style: none;
        font-size: 0;
        float: left;
        margin-left: -200px;
        width: 201px;
    }

    &--vertical &__element {
            width: 100%;
            border-left: 1px solid #dcdcdc;
            text-align: left;
    }

    &--vertical &__element:last-child {
        border-bottom: 1px solid #dcdcdc;
    }


    &--dropdown &__element {
        background: transparent;
        color: #222;
        padding: 17px 60px;
        position: relative;
        border-left: 1px solid #dcdcdc;
        margin-bottom: 5px;
        border-bottom: 1px solid #dcdcdc;
        display: block;
        text-align: left;
    }

    &--dropdown &__element:hover {
        background: transparent;
        border-color: #dcdcdc;
        color: #222;
    }

    &--dropdown &__element::before {
        content: "\f067";
        position: absolute;
        left: 14px;
        font-size: 1rem;
        font-family: "FontAwesome";
        background: $color-cerulean;
        color: #fff;
        padding: 10px 12px;
        border-radius: 4px;
        top: 9px;
    }

    &--dropdown &__content {
        padding: 20px 0 10px;
        border: 0;
        line-height: 1.9;
        text-align: left;
    }

    &--dropdown &__element.is-active {
        background: transparent;
        color:#222;
        border-color: #dcdcdc;
    }


    &--with-icon {
        margin-left: 25.6%;
    }

    &--with-icon &__list {
        margin: 0px;
        padding: 0;
        list-style: none;
        font-size: 0;
        float: left;
        margin-left: -34.6%;
        width: 28.6%;
    }

    &--with-icon &__content {
        border: 0;
        padding: 0;
        margin-top: -10px;
    }

    &--with-icon &__element {
        @include clearfix();
        @include encodesans(700, 'wide');
        @include rem(font-size, 1.5rem);
        text-transform: uppercase;
        position: relative;
        width: 100%;
        border: 0;
        text-align: left;
        background: none;
        padding-bottom: 19px;
        padding-left: 0;
        padding-top: 0;
        margin-bottom: 32px;

        .fa {
            @include transition(all .25s linear);
            @include rem(font-size, 2rem);
            position: absolute;
            top: -6px;
            right: 0;
            color: $color-silver;
        }

    }

    &--with-icon &__element::after {
        @include transition(all .25s linear);
        content: "";
        width: 55px;
        height: 3px;
        background: $color-silver;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
    }

    &--with-icon &__element:hover {
        color: $color-mine-shaft;

        .fa {
            color: $color-mine-shaft;
        }

        &::after {
            width: 100%;
            background: $color-cerulean;
        }
    }

    &--with-icon &__element.is-active {
        color: $color-mine-shaft;

        .fa {
            color: $color-mine-shaft;
        }

        &::after {
            width: 100%;
            background: $color-cerulean;
        }

    }

}
