// main: /xampp/htdocs/multiszablon/scss/style.scss

/*
* @nazwa Moduł linkow
* @sekcja Moduły
* @opis
*  Modul linkow dla uzytkownika
*/
.m-user-links {
    @include inline-block();

    font-size: 0;
    vertical-align: middle;

    a {
        @include rem(font-size, 1.2rem);
        @include transition(color .2s linear);

        color: $color-sliver-chalice;

        &:hover {
            color: $color-white;
        }

        &::after {
            @include rem(margin, 0 1.3rem);

            content: '|';
        }

    }

    li {
        @include inline-block();

        &:last-of-type {
            margin-right: 0;

            a::after {
                display: none;
            }

        }

    }


}
