// main: /xampp/htdocs/multiszablon/scss/style.scss
/*
* @nazwa Inputy
* @sekcja Elementy
* @opis
*  Stylowanie inputow bez klas
*/
[type="checkbox"],
[type="radio"],
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
button {
    border: 0;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  box-shadow: 0;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px $color-cerulean;
  border-color: $color-cerulean;
}



[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    line-height: 1.6;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 3px;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 17px; height: 17px;
    border: 1px solid  #dddcda;
    background: transparent;
    border-radius: 3px;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '\f00c';
    position: absolute;
    top: 6px;
    left: 3px;
    font-size: 18px;
    line-height: 0.8;
    color: #0094e0;
    transition: all .2s;
    font-family: "FontAwesome";
    font-size: 14px;

}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color:  #dddcda;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}



[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    line-height: 1.6;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 10px;
}

/* radio aspect */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid  #dddcda;
  background: transparent;
  border-radius: 30px;
}
/* checked mark aspect */
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
    content: '\f111';
        position: absolute;
        top: 8px;
        left: 6px;
        font-size: 18px;
        line-height: 0.8;
        color: #0094e0;
        transition: all .2s;
        font-family: "FontAwesome";
        font-size: 9px;
    }
/* checked mark aspect changes */
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled radio */
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="radio"]:disabled:checked + label:after {
  color: #999;
}
[type="radio"]:disabled + label {
  color:  #dddcda;
}
/* accessibility */
[type="radio"]:checked:focus + label:before,
[type="radio"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid $color-cerulean!important;
}
