// main: /xampp/htdocs/multiszablon/scss/style.scss


a {
    @include transition(color .2s linear);
    text-decoration: none;
    color: $color-mine-shaft;
}

::-moz-selection {
    background: $color-cerulean;
    color: $color-white;
}

::selection {
    background: $color-cerulean;
    color: $color-white;
}

.clearfix {
    @include clearfix();
}

p {
    color: $color-mine-shaft;
    line-height: 1.6;
}

blockquote {
    @include encodesans(600, 'wide');
    @include rem(padding, 0 9rem);
    @include rem(margin, 5rem 0);
    line-height: 1.6;
    position: relative;

    &::before {
        content: "\201D";
        font-size: 6rem;
        position: absolute;
        left: 26px;
        top: 52px;
        line-height: 0;
        color: $color-alto;
    }

    &::after {
        content: "\201C";
        font-size: 6rem;
        position: absolute;
        right: 38px;
        top: 24px;
        line-height: 0;
        color: $color-alto;
    }

}
